{% extends 'base.html.twig' %}

{% block body %}
    <div class="container header">
        <div class="row text-header col-sm-8">
            <h1>Mon compte</h1>
        </div>
    </div>
    </header>
    <div class="container header">
        <div class="row text-header col-sm-8">
            <h1>Mon compte</h1>
        </div>
    </div>
    </header>

    <h1>Utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Civilite</th>
                <th>Datedenaissance</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Codepostale</th>
                <th>Pays</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ path('moncompte_utilisateur_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{% if utilisateur.civilite %}Yes{% else %}No{% endif %}</td>
                <td>{% if utilisateur.datedenaissance %}{{ utilisateur.datedenaissance|date('Y-m-d') }}{% endif %}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.ville }}</td>
                <td>{{ utilisateur.codepostale }}</td>
                <td>{{ utilisateur.pays }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('moncompte_utilisateur_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('moncompte_utilisateur_edit', { 'id': utilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

<!--
    <ul>
        <li>
            <a href="{{ path('moncompte_utilisateur_new') }}">Create a new utilisateur</a>
        </li>
    </ul>
-->
{% endblock %}
