{% extends 'base.html.twig' %}

{% block body %}
    <div class="container header">
        <div class="row text-header col-sm-8">
            <h1>Mon compte</h1>
        </div>
    </div>
    </header>
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{% if utilisateur.civilite %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datedenaissance</th>
                <td>{% if utilisateur.datedenaissance %}{{ utilisateur.datedenaissance|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.ville }}</td>
            </tr>
            <tr>
                <th>Codepostale</th>
                <td>{{ utilisateur.codepostale }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ utilisateur.pays }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('moncompte_utilisateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('moncompte_utilisateur_edit', { 'id': utilisateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
