<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="#">
    <meta name="author" content="#">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('css/img/favicon/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('css/img/favicon/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('css/img/favicon/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('css/img/favicon/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('css/img/favicon/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('css/img/favicon/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('css/img/favicon/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('css/img/favicon/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('css/img/favicon/favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ asset('css/img/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('css/img/favicon/favicon-57x57.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('css/img/favicon/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('css/img/favicon/favicon-128.png') }}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />


    <title>Only Days | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/demo.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/component.css') }}" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

</head>

<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    {% block header %}<header>{% endblock %}
        <a href="{{ path('accueil') }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4339.08 846.32"><defs><style>.a,.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.l,.m,.n,.o,.p,.q,.r,.s,.t{fill:#fff;}.a{opacity:0.85;}.b{opacity:0.9;}.c{opacity:0.8;}.d{opacity:0.95;}.e{opacity:0.75;}.g{opacity:0.7;}.h{opacity:0.5;}.i{opacity:0.55;}.j{opacity:0.45;}.k{opacity:0.6;}.l{opacity:0.4;}.m{opacity:0.65;}.n{opacity:0.35;}.o{opacity:0.15;}.p{opacity:0.2;}.q{opacity:0.1;}.r{opacity:0.25;}.s{opacity:0.05;}.t{opacity:0.3;}.u{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:11px;}</style></defs><title>logo</title><path class="a" d="M254.42,211A292.51,292.51,0,0,1,263,140.45L239.35,52.14A422.68,422.68,0,0,0,36,261.47L268.1,323.65C259.42,285.31,254.42,247.41,254.42,211Z" transform="translate(0 -22.41)"/><path class="b" d="M388.7,214.46a157.77,157.77,0,0,0,5.87,42.75l150-150L457.9,84A157.46,157.46,0,0,0,388.7,214.46Z" transform="translate(0 -22.41)"/><path class="b" d="M307.18,43.56l-28.83-7.73a418.39,418.39,0,0,0-39,16.31L263,140.45A290.51,290.51,0,0,1,307.18,43.56Z" transform="translate(0 -22.41)"/><path class="c" d="M280.6,371.18q-7.1-23.81-12.5-47.52L36,261.47A418,418,0,0,0,17.94,310.2L86.33,565.45Z" transform="translate(0 -22.41)"/><path class="d" d="M323.51,22.41a418.53,418.53,0,0,0-45.16,13.43l28.83,7.73Q314.86,32.61,323.51,22.41Z" transform="translate(0 -22.41)"/><path class="d" d="M544.62,107.16l0,0L531.36,57.55A156.72,156.72,0,0,0,457.9,84l86.7,23.23Z" transform="translate(0 -22.41)"/><path class="e" d="M86.31,565.47l0,0L17.94,310.2a423.34,423.34,0,0,0-2.16,236.4L86.28,565.5Z" transform="translate(0 -22.41)"/><path class="f" d="M589.07,62.71a157.72,157.72,0,0,0-42.75-5.87c-5,0-10,.25-15,.71l13.29,49.59Z" transform="translate(0 -22.41)"/><path class="g" d="M15.77,546.6a418,418,0,0,0,24.36,65L86.28,565.5Z" transform="translate(0 -22.41)"/><path class="h" d="M399.34,649.35l5.36-5.36q-6.35-10.81-12.69-22Z" transform="translate(0 -22.41)"/><path class="i" d="M280.62,371.24,86.37,565.49l313,83.86L392,622C348.85,546,306.66,458.54,280.62,371.24Z" transform="translate(0 -22.41)"/><path class="c" d="M86.34,565.48h0L280.62,371.24l0-.06L86.33,565.45Z" transform="translate(0 -22.41)"/><path class="i" d="M86.34,565.48h0L280.62,371.24l0-.06L86.33,565.45Z" transform="translate(0 -22.41)"/><polygon class="e" points="86.33 543.04 86.31 543.07 86.34 543.08 86.33 543.04"/><polygon class="i" points="86.33 543.04 86.31 543.07 86.34 543.08 86.33 543.04"/><path class="j" d="M394.58,257.28A157.74,157.74,0,0,0,611.8,357.88L544.64,107.22Z" transform="translate(0 -22.41)"/><path class="b" d="M544.63,107.19h0l-150,150,0,.06L544.64,107.22Z" transform="translate(0 -22.41)"/><path class="j" d="M544.63,107.19h0l-150,150,0,.06L544.64,107.22Z" transform="translate(0 -22.41)"/><polygon class="d" points="544.62 84.75 544.6 84.77 544.63 84.78 544.62 84.75"/><polygon class="j" points="544.62 84.75 544.6 84.77 544.63 84.78 544.62 84.75"/><path class="k" d="M86.35,565.51l0,0L132.79,739a421.92,421.92,0,0,0,104.76,72.19L399.34,649.35l-313-83.86Z" transform="translate(0 -22.41)"/><polygon class="c" points="86.35 543.11 86.37 543.08 86.34 543.08 86.35 543.11"/><polygon class="k" points="86.35 543.11 86.37 543.08 86.34 543.08 86.35 543.11"/><polygon class="e" points="86.31 543.07 86.31 543.1 86.35 543.11 86.34 543.08 86.31 543.07"/><polygon class="k" points="86.31 543.07 86.31 543.1 86.35 543.11 86.34 543.08 86.31 543.07"/><polygon class="g" points="86.32 543.13 86.35 543.11 86.31 543.1 86.32 543.13"/><polygon class="k" points="86.32 543.13 86.35 543.11 86.31 543.1 86.32 543.13"/><path class="l" d="M544.66,107.2l0,0L611.8,357.88a157.74,157.74,0,0,0,76.35-212.26L544.69,107.18Z" transform="translate(0 -22.41)"/><polygon class="b" points="544.64 84.81 544.66 84.79 544.63 84.78 544.64 84.81"/><polygon class="l" points="544.64 84.81 544.66 84.79 544.63 84.78 544.64 84.81"/><polygon class="d" points="544.66 84.79 544.65 84.76 544.62 84.75 544.63 84.78 544.66 84.79"/><polygon class="l" points="544.66 84.79 544.65 84.76 544.62 84.75 544.63 84.78 544.66 84.79"/><polygon class="f" points="544.69 84.77 544.65 84.76 544.66 84.79 544.69 84.77"/><polygon class="l" points="544.69 84.77 544.65 84.76 544.66 84.79 544.69 84.77"/><path class="m" d="M40.16,611.7A422.23,422.23,0,0,0,132.79,739L86.32,565.54Z" transform="translate(0 -22.41)"/><polygon class="e" points="86.28 543.09 86.31 543.1 86.31 543.07 86.28 543.09"/><polygon class="m" points="86.28 543.09 86.31 543.1 86.31 543.07 86.28 543.09"/><path class="g" d="M86.32,565.51h0L40.13,611.65l0,.06,46.17-46.17Z" transform="translate(0 -22.41)"/><path class="m" d="M86.32,565.51h0L40.13,611.65l0,.06,46.17-46.17Z" transform="translate(0 -22.41)"/><path class="n" d="M688.15,145.62a158,158,0,0,0-99-82.89l-44.45,44.45Z" transform="translate(0 -22.41)"/><polygon class="d" points="544.65 84.73 544.62 84.75 544.65 84.76 544.65 84.73"/><polygon class="n" points="544.65 84.73 544.62 84.75 544.65 84.76 544.65 84.73"/><path class="f" d="M544.66,107.17h0l44.45-44.45-.06,0-44.43,44.43Z" transform="translate(0 -22.41)"/><path class="n" d="M544.66,107.17h0l44.45-44.45-.06,0-44.43,44.43Z" transform="translate(0 -22.41)"/><path class="o" d="M644.71,714.15l68.42,18.33-24.17-90.22C673.94,667.9,659,692,644.71,714.15Z" transform="translate(0 -22.41)"/><path class="o" d="M404.71,644l-4.62,4.62,8.72,2.34Q406.76,647.48,404.71,644Z" transform="translate(0 -22.41)"/><path class="p" d="M688.95,642.26l24.17,90.22,34-34a419.1,419.1,0,0,0,92.73-222.59L780.43,460C754,524.49,721.36,586.9,688.95,642.26Z" transform="translate(0 -22.41)"/><path class="q" d="M400.09,648.61l54.45,203.21a419.66,419.66,0,0,0,79.8-14.1A2006.81,2006.81,0,0,1,408.81,650.94Z" transform="translate(0 -22.41)"/><path class="q" d="M566,827.5a420.54,420.54,0,0,0,121.44-69.35l25.67-25.67-68.42-18.33C612.64,763.86,584,803.48,566,827.5Z" transform="translate(0 -22.41)"/><path class="r" d="M780.43,460l59.44,15.93a425.89,425.89,0,0,0,2.26-43.81,421.12,421.12,0,0,0-16-115.39C815.85,364.3,799.8,412.7,780.43,460Z" transform="translate(0 -22.41)"/><path class="s" d="M237.55,811.14a419.36,419.36,0,0,0,183.51,42q16.9,0,33.47-1.32L400.09,648.61Z" transform="translate(0 -22.41)"/><polygon class="t" points="1162.99 254.33 1162.99 265.04 1171.44 256.6 1162.99 254.33"/><path class="f" d="M1713.9,245.43c0,107.59-83.62,195.67-186.76,195.67S1340.39,353,1340.39,245.43,1424,50.32,1527.15,50.32,1713.9,137.84,1713.9,245.43Zm-20.63,0c0-93.1-75.82-171.7-166.13-171.7-89.75,0-166.13,78.6-166.13,171.7,0,93.66,76.37,172.26,166.13,172.26C1617.46,417.7,1693.28,339.09,1693.28,245.43Z" transform="translate(0 -22.41)"/><path class="f" d="M2073.48,441.67,1867.21,78.19l1.11,362.92h-23.41V52h36.79l202.37,364V52h23.41V441.67Z" transform="translate(0 -22.41)"/><path class="f" d="M2230.69,51.43V419.93H2410.2v22.3h-204V51.43Z" transform="translate(0 -22.41)"/><path class="f" d="M2536.2,440V270.52l-126-219.65h27.32l109.82,194,108.15-194h27.87L2560.73,266.62V440Z" transform="translate(0 -22.41)"/><path class="f" d="M3130.47,441.11H3034V50.87h96.44c105.92,1.67,192.33,88.64,192.33,194.56C3322.8,351.91,3236.39,440,3130.47,441.11Zm-2.79-21.74c93.1,0,170.59-80.83,170.59-173.93,0-92.54-77.49-171.15-170.59-171.15h-70.8l.56,345.08Z" transform="translate(0 -22.41)"/><path class="f" d="M3432.62,349.13l-37.35,92.54H3367.4l165-391.91,166.13,391.91h-28.43l-39-92.54Zm8.92-21.74h181.18l-90.31-214.63Z" transform="translate(0 -22.41)"/><path class="f" d="M3821.19,440V270.52l-126-219.65h27.32l109.82,194,108.15-194h27.87L3845.72,266.62V440Z" transform="translate(0 -22.41)"/><path class="f" d="M4104.39,385.92l12.82-16.72C4150.66,421,4227,421,4227,421c54.08,0,90.31-38.47,90.31-90.31,0-83.62-99.23-83.06-118.19-87.52-35.68-5.57-96.44-24-96.44-91.43,0-54.63,45.16-100.9,107-100.9,33.45,0,68,12.82,89.2,32.89l-11.15,19c-22.86-20.63-46.83-29.55-77.49-31.22-50.73,0-86.41,36.79-86.41,80.28,0,39.58,35.12,66.34,77.49,70.8,60.21,6.13,137.7,29,137.7,110.94,0,59.65-48.5,106.48-112.05,108.15C4227,441.67,4141.74,441.11,4104.39,385.92Z" transform="translate(0 -22.41)"/><line class="u" x1="1338.69" y1="528.22" x2="4311.39" y2="528.22"/><path class="f" d="M1363.58,658.23V803.17h70.6v8.77h-80.25V658.23Z" transform="translate(0 -22.41)"/><path class="f" d="M1489.45,649.24l7.89,6.14-22.15,30-8.33-5.92Z" transform="translate(0 -22.41)"/><path class="f" d="M1632.19,760.19h-99.55c3.95,28.94,25.65,43,45.83,43,8.11,0,16.67-2.85,23.68-6.8l13.16.22a53.42,53.42,0,0,1-36.84,14.91c-29.6,0-53.72-24.78-53.72-55.47,0-30.48,24.12-55.47,53.72-55.47C1608.73,700.55,1631.53,726.64,1632.19,760.19Zm-8.77-8.33c-5.7-28.72-24.78-43.2-45-43.2s-41.22,12.72-45.61,43.2Z" transform="translate(0 -22.41)"/><path class="f" d="M1690.08,763.26l-27.85,48.68h-8.77l32.23-56.57-31.36-54.16H1664l26.09,46,26.09-46H1726l-31.36,54.16,32.23,56.57h-8.77Z" transform="translate(0 -22.41)"/><path class="f" d="M1772.31,798.12l-11-9.21v79.81h-8.55V703.84h8.55v21l11-9.21a51,51,0,0,1,32.45-11.84c28.29,0,51.53,23.9,51.53,53.06S1833,810,1804.76,810A51,51,0,0,1,1772.31,798.12ZM1762,751.2v11.4c2.85,22.37,20.83,37.28,42.76,37.28,24.12,0,42.54-18.42,42.54-43s-18.42-43.63-42.54-43.63C1782.83,713.27,1764.85,728.83,1762,751.2Z" transform="translate(0 -22.41)"/><path class="f" d="M1989.17,760.19h-99.55c3.95,28.94,25.66,43,45.83,43,8.11,0,16.67-2.85,23.68-6.8l13.16.22a53.42,53.42,0,0,1-36.84,14.91c-29.6,0-53.72-24.78-53.72-55.47,0-30.48,24.12-55.47,53.72-55.47C1965.71,700.55,1988.51,726.64,1989.17,760.19Zm-8.77-8.33c-5.7-28.72-24.78-43.2-45-43.2s-41.22,12.72-45.61,43.2Z" transform="translate(0 -22.41)"/><path class="f" d="M2060.88,709.54c-19.73,1.75-34.86,18.86-38.81,38.81v63.37h-7.46V701.64h7.46V727.3a73.85,73.85,0,0,1,11.4-14c7.67-7,17.1-10.52,27.41-11.62Z" transform="translate(0 -22.41)"/><path class="f" d="M2145.08,719.41h-27.19v92.53h-8.77V719.41h-27.41v-9h27.41V657.57h8.55l.22,52.84h27.19Z" transform="translate(0 -22.41)"/><path class="f" d="M2335.63,717.21l11,9.21V646.61h8.55V811.5h-8.55v-21l-11,9.21a51,51,0,0,1-32.45,11.84c-28.29,0-51.53-23.9-51.53-53.06s23.24-53.06,51.53-53.06A51,51,0,0,1,2335.63,717.21Zm10.31,46.92v-11.4c-2.85-22.37-20.83-37.28-42.76-37.28-24.12,0-42.54,18.42-42.54,43s18.42,43.63,42.54,43.63C2325.1,802.07,2343.08,786.5,2345.93,764.14Z" transform="translate(0 -22.41)"/><path class="f" d="M2488.24,760.19h-99.55c3.95,28.94,25.66,43,45.83,43,8.11,0,16.67-2.85,23.68-6.8l13.16.22a53.42,53.42,0,0,1-36.84,14.91c-29.6,0-53.72-24.78-53.72-55.47,0-30.48,24.12-55.47,53.72-55.47C2464.78,700.55,2487.58,726.64,2488.24,760.19Zm-8.77-8.33c-5.7-28.72-24.78-43.2-45-43.2s-41.22,12.72-45.61,43.2Z" transform="translate(0 -22.41)"/><path class="f" d="M2509.73,797.9l3.73-6.36c7.89,7.24,16.66,12.06,32,12.28,14.25-.22,23.9-9.65,23.9-23.46,0-18.2-17.32-22.15-24.34-22.58-15.13-.88-35.74-6.8-35.74-27.85,0-15.79,12.94-29.16,30.7-29.16,9.87,0,20.17,4.17,26.09,10.09l-4.17,7.46a31.74,31.74,0,0,0-21.71-9.43c-11.4,0-22.8,7.67-22.8,21,0,14.47,12.5,19.51,24.78,20.17,16.45.88,35.3,11,35.3,30.26,0,17.54-14.25,31.14-32,31.14C2530.78,811.5,2516.53,806.24,2509.73,797.9Z" transform="translate(0 -22.41)"/><path class="f" d="M2680.32,797.9l3.73-6.36c7.89,7.24,16.66,12.06,32,12.28,14.25-.22,23.9-9.65,23.9-23.46,0-18.2-17.32-22.15-24.34-22.58-15.13-.88-35.74-6.8-35.74-27.85,0-15.79,12.94-29.16,30.7-29.16,9.87,0,20.17,4.17,26.09,10.09l-4.17,7.46a31.74,31.74,0,0,0-21.71-9.43c-11.4,0-22.8,7.67-22.8,21,0,14.47,12.5,19.51,24.78,20.17,16.45.88,35.3,11,35.3,30.26,0,17.54-14.25,31.14-32,31.14C2701.37,811.5,2687.12,806.24,2680.32,797.9Z" transform="translate(0 -22.41)"/><path class="f" d="M2884,760.19h-99.55c3.95,28.94,25.66,43,45.83,43,8.11,0,16.67-2.85,23.68-6.8l13.16.22a53.42,53.42,0,0,1-36.84,14.91c-29.6,0-53.72-24.78-53.72-55.47,0-30.48,24.12-55.47,53.72-55.47C2860.56,700.55,2883.37,726.64,2884,760.19Zm-8.77-8.33c-5.7-28.72-24.78-43.2-45-43.2s-41.22,12.72-45.61,43.2Zm-29.38-95.38,3.95,9.21-33.77,15.57-4.39-9.21Z" transform="translate(0 -22.41)"/><path class="f" d="M2916,866.75v-9.43c23.68-.22,41.88-18.42,41.88-41.22V701.86h9.43V816.54c-1.32,29.16-23.24,49.77-50.87,50.21Zm46.27-199.1a4.55,4.55,0,0,1-4.38-4.39,4.59,4.59,0,0,1,4.38-4.6,4.51,4.51,0,1,1,0,9Z" transform="translate(0 -22.41)"/><path class="f" d="M3100.67,756.24c0,30.7-24.34,55.69-53.94,55.69-29.82,0-54.16-25-54.16-55.69s24.34-55.69,54.16-55.69C3076.33,700.55,3100.67,725.55,3100.67,756.24Zm-8.11,0c0-25.87-20.61-46.92-45.83-46.92-25.43,0-46,21-46,46.92s20.61,46.92,46,46.92C3071.94,803.17,3092.56,782.12,3092.56,756.24Z" transform="translate(0 -22.41)"/><path class="f" d="M3126.55,759.53c-.44-3.51-.22-5.7.22-57.67h8.33v59c2.19,23.24,23.46,41.66,43.42,41.66,19.73,0,38.59-14.91,43.2-37.5V701.86H3230V811.5h-8.33V788a101.46,101.46,0,0,1-11.84,12.06,50.1,50.1,0,0,1-31.36,11.4c-18,0-34.42-9.87-44.07-26.53A60.58,60.58,0,0,1,3126.55,759.53Z" transform="translate(0 -22.41)"/><path class="f" d="M3301.75,709.54c-19.73,1.75-34.86,18.86-38.81,38.81v63.37h-7.46V701.64h7.46V727.3a73.85,73.85,0,0,1,11.4-14c7.67-7,17.1-10.52,27.41-11.62Z" transform="translate(0 -22.41)"/><path class="f" d="M3320.17,797.9l3.73-6.36c7.89,7.24,16.66,12.06,32,12.28,14.25-.22,23.9-9.65,23.9-23.46,0-18.2-17.32-22.15-24.34-22.58-15.13-.88-35.74-6.8-35.74-27.85,0-15.79,12.94-29.16,30.7-29.16,9.87,0,20.17,4.17,26.09,10.09l-4.17,7.46a31.74,31.74,0,0,0-21.71-9.43c-11.4,0-22.8,7.67-22.8,21,0,14.47,12.5,19.51,24.78,20.17,16.45.88,35.3,11,35.3,30.26,0,17.54-14.25,31.14-32,31.14C3341.22,811.5,3327,806.24,3320.17,797.9Z" transform="translate(0 -22.41)"/><path class="f" d="M3502.6,646.61V811.5h-9.43V646.61Z" transform="translate(0 -22.41)"/><path class="f" d="M3584.39,798.78,3555,867.19h-9.87l27.63-64.25-43.85-100.86h9.87L3577.37,790l38.81-87.93h9.65Z" transform="translate(0 -22.41)"/><path class="f" d="M3744,756.24c0,30.7-24.34,55.69-53.94,55.69-29.82,0-54.16-25-54.16-55.69s24.34-55.69,54.16-55.69C3719.68,700.55,3744,725.55,3744,756.24Zm-8.11,0c0-25.87-20.61-46.92-45.83-46.92-25.43,0-46,21-46,46.92s20.61,46.92,46,46.92C3715.3,803.17,3735.91,782.12,3735.91,756.24Z" transform="translate(0 -22.41)"/><path class="f" d="M3777.79,742.21l.22,69.51h-8.33V702.52H3778v22.37s5.48-7.67,11-12.06a47.52,47.52,0,0,1,29.38-10.74c16.88,0,32.23,9.43,41.22,25a54.69,54.69,0,0,1,7.46,23.46c0,3.73.44,12.28-.22,61h-7.89l-.22-63.81C3856.95,728,3837,710,3818.36,710,3799.94,710,3783.27,723.35,3777.79,742.21Z" transform="translate(0 -22.41)"/><path class="f" d="M3900.15,742.21l.22,69.51H3892V702.52h8.33v22.37s5.48-7.67,11-12.06a47.52,47.52,0,0,1,29.38-10.74c16.88,0,32.23,9.43,41.22,25a54.69,54.69,0,0,1,7.46,23.46c0,3.73.44,12.28-.22,61h-7.89l-.22-63.81C3979.3,728,3959.35,710,3940.71,710,3922.29,710,3905.63,723.35,3900.15,742.21Z" transform="translate(0 -22.41)"/><path class="f" d="M4111.74,811.72V790.23l-11.4,9.43A51.47,51.47,0,0,1,4067,811.72c-29.16,0-52.84-24.56-52.84-54.6,0-30.26,23.68-54.6,52.84-54.6a51.47,51.47,0,0,1,33.33,12.06l11.4,9.43V702.3h9.43V811.72Zm-1.1-59.64v-.88c-3.07-23-21-39-43.63-39-24.78,0-43.63,19.51-43.63,45s18.86,44.73,43.63,44.73c22.58,0,40.56-16,43.63-38.81Z" transform="translate(0 -22.41)"/><path class="f" d="M4145.08,663.49a5.1,5.1,0,0,1,5-5,4.93,4.93,0,1,1,0,9.87A5.06,5.06,0,0,1,4145.08,663.49Zm8.77,38.59V812.16h-8.77V702.08Z" transform="translate(0 -22.41)"/><path class="f" d="M4179.5,797.9l3.73-6.36c7.89,7.24,16.66,12.06,32,12.28,14.25-.22,23.9-9.65,23.9-23.46,0-18.2-17.32-22.15-24.34-22.58-15.13-.88-35.74-6.8-35.74-27.85,0-15.79,12.94-29.16,30.7-29.16,9.87,0,20.17,4.17,26.09,10.09l-4.17,7.46a31.74,31.74,0,0,0-21.71-9.43c-11.4,0-22.8,7.67-22.8,21,0,14.47,12.5,19.51,24.78,20.17,16.45.88,35.3,11,35.3,30.26,0,17.54-14.25,31.14-32,31.14C4200.55,811.5,4186.3,806.24,4179.5,797.9Z" transform="translate(0 -22.41)"/></svg></a>
        <div class="overlay-navigation" id="menu">
            <nav role="navigation">
                <ul>
                    <li><a href="{{ path('listebien') }}" data-content="Trouver le bien qui vous correspond">Rechercher</a></li>
                    <li><a href="{{ path('decouvrirlyon') }}" data-content="Découvrez les quartiers de Lyon">Découvrir</a></li>
                    <li><a href="{{ path('listeactualite') }}" data-content="Toute l'actualité de Lyon">S'informer</a></li>
                    <li><a href="{{ path('contact') }}" data-content="Contactez-nous à tout moment">Contacter</a></li>
                </ul>
            </nav>
        </div>

        <div style="float: right; margin-top: 50px; margin-right: 150px;">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p><i class="fa fa-user-circle" aria-hidden="true"></i>
                     Bienvenue <a href="{{ path('moncompte') }}">{{  app.user.username }}</a> | <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></p>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user-circle" aria-hidden="true"></i>
                     Se connecter ou s'inscrire</a>
            {% endif %}
        </div>

        <section class="home">
            <div class="open-overlay" style="margin-right: 50px;">
                <span class="bar-top"></span>
                <span class="bar-middle"></span>
                <span class="bar-bottom"></span>
            </div>
        </section>



    {% block body %}{% endblock %}

    {% block footer %}
    <footer>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7" id="newsletter">
                        <h2>Inscrivez-vous à la newsletter</h2>
                        <p>Donec ultricies euismod nibh, quis posuere ligula hendrerit ac. Praesent non lacinia lacus. Donec ultricies euismod nibh, quis posuere ligula</p>
                        <div class="row" style="padding-left: 15px;">
                            <input type="email" placeholder="Insérer votre adresse e-mail" class="col-xs-8">
                            <button type="submit">S'inscrire</button>
                        </div>
                    </div>
                    <div class="col-lg-5" id="rs">
                        <h2>Réseaux sociaux</h2>
                        <p>Nunc convallis quam in posuere condimentum. Cras ante metus elementum.</p>
                        <?xml version="1.0" encoding="utf-8"?>
                        <a href="https://www.facebook.com/onlyweeks/" target="_blank"><svg class="picto-rs" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                            <g>
                                <g>
                                    <style type="text/css">
                                        .st0{fill:white;}
                                    </style>
                                    <defs>
                                        <rect id="SVGID_1_" x="6.8" width="16.4" height="30"/>
                                    </defs>
                                    <clipPath id="SVGID_2_">
                                        <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                                    </clipPath>
                                    <path class="st0" d="M22.4,0l-3.9,0c-4.4,0-7.2,2.9-7.2,7.4v3.4H7.4c-0.3,0-0.6,0.3-0.6,0.6v4.9c0,0.3,0.3,0.6,0.6,0.6h3.9v12.4
                                        c0,0.3,0.3,0.6,0.6,0.6H17c0.3,0,0.6-0.3,0.6-0.6V16.9h4.6c0.3,0,0.6-0.3,0.6-0.6l0-4.9c0-0.2-0.1-0.3-0.2-0.4
                                        c-0.1-0.1-0.3-0.2-0.4-0.2h-4.6V7.9c0-1.4,0.3-2.1,2.1-2.1l2.6,0c0.3,0,0.6-0.3,0.6-0.6V0.6C23,0.2,22.8,0,22.4,0L22.4,0z M22.4,0
                                        "/>
                                </g>
                            </g>
                        </svg></a>
                        <?xml version="1.0" encoding="utf-8"?>
                        <a href="https://twitter.com/OnlyDays_Immo" target="_blank"><svg class="picto-rs" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.5 30" style="enable-background:new 0 0 36.5 30;" xml:space="preserve">
                            <g>
                                <style type="text/css">
                                    .st0{fill:white;}
                                </style>
                                <path class="st0" d="M36.5,3.9c-1.3,0.6-2.8,1-4.3,1.2c1.5-0.9,2.7-2.4,3.3-4.1c-1.4,0.9-3.1,1.5-4.8,1.8c-1.4-1.4-3.3-2.4-5.5-2.4
                                    c-4.1,0-7.5,3.4-7.5,7.5c0,0.6,0.1,1.2,0.2,1.7C11.8,9.2,6.2,6.3,2.5,1.7c-0.6,1.1-1,2.4-1,3.8c0,2.6,1.3,4.9,3.3,6.2
                                    c-1.2,0-2.4-0.4-3.4-0.9v0.1c0,3.6,2.6,6.7,6,7.4c-0.6,0.2-1.3,0.3-2,0.3c-0.5,0-0.9,0-1.4-0.1c1,3,3.7,5.1,7,5.2
                                    c-2.6,2-5.8,3.2-9.3,3.2c-0.6,0-1.2,0-1.8-0.1C3.3,28.8,7.3,30,11.5,30c13.8,0,21.3-11.4,21.3-21.3l0-1C34.3,6.7,35.5,5.4,36.5,3.9
                                    L36.5,3.9z M36.5,3.9"/>
                            </g>
                        </svg></a>
                        <?xml version="1.0" encoding="utf-8"?>
                        <a href="https://www.instagram.com/onlydays_immo/" target="_blank"><svg class="picto-rs" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                            <g>
                                <style type="text/css">
                                    .st0{fill:white;}
                                </style>
                                <path class="st0" d="M21.7,0H8.3C3.7,0,0,3.7,0,8.3v13.4C0,26.3,3.7,30,8.3,30h13.4c4.6,0,8.3-3.7,8.3-8.3V8.3C30,3.7,26.3,0,21.7,0L21.7,0z
                                     M27.3,21.7c0,3.1-2.5,5.6-5.6,5.6H8.3c-3.1,0-5.6-2.5-5.6-5.6V8.3c0-3.1,2.5-5.6,5.6-5.6h13.4c3.1,0,5.6,2.5,5.6,5.6V21.7z
                                     M27.3,21.7"/>
                                <path class="st0" d="M15,7.3c-4.3,0-7.7,3.5-7.7,7.7c0,4.3,3.5,7.7,7.7,7.7c4.3,0,7.7-3.5,7.7-7.7C22.7,10.7,19.3,7.3,15,7.3L15,7.3z M15,20.1
                                    c-2.8,0-5.1-2.3-5.1-5.1c0-2.8,2.3-5.1,5.1-5.1s5.1,2.3,5.1,5.1C20.1,17.8,17.8,20.1,15,20.1L15,20.1z M15,20.1"/>
                                <path class="st0" d="M23.1,5c-0.5,0-1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.4c0,0.5,0.2,1,0.6,1.4c0.4,0.4,0.9,0.6,1.4,0.6c0.5,0,1-0.2,1.4-0.6
                                    C24.8,8,25,7.5,25,7c0-0.5-0.2-1-0.6-1.4C24.1,5.2,23.6,5,23.1,5L23.1,5z M23.1,5"/>
                            </g>
                        </svg></a>
                    </div>
                </div>
            </div>
        </section>
        <section id="mentions">
            <p>© Tous droits réservés Only Days.</p>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('mentions-legales') }}">Mentions légales</a>
                        <a class="lien-secondaire" style="padding-left: 50px;" href="{{ path('contact') }}">Nous contacter</a>
                        <a class="lien-secondaire" style="padding-left: 50px;" href="{{ path('faq') }}">FAQ</a>
                    </div>
                </div>
            </div>

        </section>
    </footer>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
    <script src="https://use.fontawesome.com/d75ee89f22.js"></script>
    <script type="text/javascript">
        function afficher() {
            document.getElementById('form-1').style.display = 'none';
            document.getElementById('form-2').style.display = 'block';
        }

        function afficher2() {
            document.getElementById('form-2').style.display = 'none';
            document.getElementById('form-3').style.display = 'block';
        }

        function afficher3() {
            document.getElementById('form-3').style.display = 'none';
            document.getElementById('form-4').style.display = 'block';
        }

        function afficher4() {
            document.getElementById('connexion').style.display = 'none';
            document.getElementById('inscription').style.display = 'block';
        }

        function afficher5() {
            document.getElementById('inscription').style.display = 'none';
            document.getElementById('connexion').style.display = 'block';
        }

        function masquer_div(id)
        {
            if (document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = 'block';
                document.getElementById('menu').style.display = 'none';
            }
            else {
                document.getElementById(id).style.display = 'none';
            }
        }

    </script>
    <script src="{{ asset('js/lunar.js') }}"></script>
    <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/main2.js') }}"></script>
    <script>
        (function() {
            new PointsMap(document.querySelector('#interactive-1'));
            new PointsMap(document.querySelector('#interactive-2'), {
                // Maximum opacity that the background element of a Point can have when the point is active (mouse gets closer to it).
                maxOpacityOnActive : 1,
                // When the mouse is [activeOn]px away from one point, its image gets opacity = point.options.maxOpacity.
                activeOn : 90
            });
        })();
    </script>


</body>

</html>
    {% endblock %}


