{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="container bloc-inscription" style="margin-top: -100px; border-top: 10px solid #c8192b;">
        <div class="row">
            <div class="col-xs-12 form">
                <form class="col-xs-8 col-xs-offset-2" action="{{ path("fos_user_security_check") }}" class="col-xs-12" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <h2 style="padding-top:50px;">Se connecter à OnlyDays</h2>
                    <label>Votre adresse e-mail :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    <label>Votre mot de passe :</label>
                    <input type="password" id="password" name="_password" required="required" />



                    <p>Pas encore membre ? Rejoignez-nous en <a href="{{ path('fos_user_registration_register') }}"> créant votre compte</a></p>
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
            </div>
        </div>
    </div>
<br>
<br>


