{% extends 'base.html.twig' %}

{% block title %}Découvrir Lyon{% endblock %}



{% block body %}
    <div class="container header">
        <div class="row text-header col-sm-8 text-left">
            <h1>Découvrir Lyon</h1>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="interactive-points" style="margin-top:-100px; margin-bottom: 100px;" id="interactive-1" tabindex="0">
                    <img class="static" src="{{ asset('css/img/decouvrir-lyon/map.png') }}" alt="Map de Lyon" />
                    <div class="backgrounds">
                        <div class="background__element" style="background-image: url({{ asset('css/img/decouvrir-lyon/05.jpg') }})"></div>
                        <div class="background__element" style="background-image: url({{ asset('css/img/decouvrir-lyon/03.jpg') }})"></div>
                        <div class="background__element" style="background-image: url({{ asset('css/img/decouvrir-lyon/01.jpg') }})"></div>
                        <div class="background__element" style="background-image: url({{ asset('css/img/decouvrir-lyon/06.jpg') }})"></div>
                        <div class="background__element" style="background-image: url({{ asset('css/img/decouvrir-lyon/07.jpg') }})"></div>
                        <div class="background__element" style="background-image: url({{ asset('css/img/decouvrir-lyon/02.jpg') }})"></div>
                        <div class="background__element" style="background-image: url({{ asset('css/img/decouvrir-lyon/04.jpg') }})"></div>
                    </div>
                    <svg class="points" viewBox="0 0 1885 1080" width="100%" height="100%">
                        <path class="point" d="M1143.77,159a18.91,18.91,0,0,0-18.91,18.91c0,18.05,18.91,41.59,18.91,41.59s18.91-23.54,18.91-41.59A18.91,18.91,0,0,0,1143.77,159Z"/>
                        <path class="point" d="M1227.77,551.75a18.91,18.91,0,0,0-18.91,18.91c0,18.05,18.91,41.59,18.91,41.59s18.91-23.54,18.91-41.59A18.91,18.91,0,0,0,1227.77,551.75Z"/>
                        <path class="point" d="M898,612.25a18.91,18.91,0,0,0-18.91,18.91c0,18.05,18.91,41.59,18.91,41.59s18.91-23.54,18.91-41.59A18.91,18.91,0,0,0,898,612.25Z"/>
                        <path class="point" d="M655.41,922.58a18.91,18.91,0,0,0-18.91,18.91c0,18.05,18.91,41.59,18.91,41.59s18.91-23.54,18.91-41.59A18.91,18.91,0,0,0,655.41,922.58Z"/>
                        <path class="point" d="M755.3,195.06A18.91,18.91,0,0,0,736.4,214c0,18.05,18.91,41.59,18.91,41.59S774.21,232,774.21,214A18.91,18.91,0,0,0,755.3,195.06Z"/>
                        <path class="point" d="M773.4,773.47a18.91,18.91,0,0,0-18.91,18.91c0,18.05,18.91,41.59,18.91,41.59s18.91-23.54,18.91-41.59A18.91,18.91,0,0,0,773.4,773.47Z"/>
                        <path class="point" d="M722,532.78a18.91,18.91,0,0,0-18.91,18.91c0,18.05,18.91,41.59,18.91,41.59s18.91-23.54,18.91-41.59A18.91,18.91,0,0,0,722,532.78Z"/>

                    </svg>
                    <div class="points-tooltips">
                        <div class="point-tooltip"><h2 class="point-tooltip__title">Parc de la Tête d'Or</h2></div>
                        <div class="point-tooltip"><h2 class="point-tooltip__title">Quartier Part-Dieu</h2></div>
                        <div class="point-tooltip"><h2 class="point-tooltip__title">Quartier Bellecour</h2></div>
                        <div class="point-tooltip"><h2 class="point-tooltip__title">Quartier de la Confluence</h2></div>
                        <div class="point-tooltip"><h2 class="point-tooltip__title">Quartier de la Croix-Rousse</h2></div>
                        <div class="point-tooltip"><h2 class="point-tooltip__title">Quartier Perrache</h2></div>
                        <div class="point-tooltip"><h2 class="point-tooltip__title">Quartier Fourvière</h2></div>
                    </div>
                    <div class="points-content">
                        <div class="point-content text-left">
                            <p class="point-content__subtitle">Quartier de la Tête d'Or</p>
                            <p class="point-content__text">
                                Quartier résidentiel, bourgeois et cossu, le quartier Tête d’Or doit son nom au prestigieux parc qui jouxte ses élégantes artères. Depuis longtemps le quartier attire les fortunes lyonnaises qui résident dans de grands appartements haussmanniens ou dans les quelques hôtels particuliers ou chalets donnant directement sur le parc, des biens d’exception. Les habitants apprécient cette proximité privilégiée avec le « poumon vert » de la ville. Le secteur Tête d’Or est un havre de paix tranquille et sécurisant !
                            </p>
                        </div>
                        <div class="point-content text-left">
                            <p class="point-content__subtitle">Quartier Part-Dieu</p>
                            <p class="point-content__text">
                                Construit autour de la gare TGV, en liaison directe avec Paris et l'Europe, le quartier de Lyon Part-Dieu s’est imposé comme le deuxième pôle tertiaire et de décision français. Plus de 2 500 établissements y emploient quelques 56 000 salariés, sur près 1.150 000 m² de bureaux.
                                A terme, le tissu tertiaire sera encore renforcé pour accueillir 70 000 emplois, de nouvelles entreprises autour de l'ingénierie et les services urbains
                                En 2020, l'offre immobilière tertiaire - neuve ou réhabilitée - sera portée à 1 650 000 m².
                            </p>
                        </div>
                        <div class="point-content text-left">
                            <p class="point-content__subtitle">Quartier Bellecour</p>
                            <p class="point-content__text">
                                Outre le pourtour de la place Bellecour, le quartier comprend aussi deux quartiers moins étendus : Les Jacobins, du nom de la place située entre la rue de la République et les quais de Saône et Les Cordeliers au nord, autour de la place des Cordeliers jusqu'aux quais du Rhône. La place des Cordeliers constitue une voie centrale, donnant à la fois sur les quais du Rhône, sur le tronçon central de la Rue de la République et sur le Palais de la Bourse. Il compte aussi l'Église Saint-Bonaventure, seul édifice médiéval encore en place, ainsi que l'ancien Grand Bazar, reconstruit récemment tout en panneaux de vitres et qui reflète les bâtiments de la place côté rue de la république.
                            </p>
                        </div>
                        <div class="point-content text-left">
                            <p class="point-content__subtitle">Quartier de la Confluence</p>
                            <p class="point-content__text">
                                Territoire au sud de la Presqu’île, longtemps consacré à l’industrie et aux transports, il fait l’objet d’un renouvellement urbain. L’aménagement progressif de 41 ha sur 150 (2003-2015) met en valeur un espace d’exception et des paysages uniques.
                            </p>
                        </div>
                        <div class="point-content text-left">
                            <p class="point-content__subtitle">Quartier de la Croix-Rousse</p>
                            <p class="point-content__text">
                                Cette "colline qui travaille", pendant ouvrier de Fourvière, "colline qui prie", fut bâtie au début du XIX° sur des terrains appartenant aux communautés religieuses. L’important dénivelé influença le tracé des rues qui suivent les courbes de niveau, se transformant souvent en escaliers. Les Canuts (ouvriers de la soie) occupaient des immeubles conçus spécialement et dimensionnés pour contenir les imposants métiers à bras et nouvelles mécaniques inventés par Jacquard : hauts immeubles aux nombreuses fenêtres. Des passages nord-sud dans le sens de la pente, les fameuses traboules, furent créés pour faciliter la circulation des piétons.
                            </p>
                        </div>
                        <div class="point-content text-left">
                            <p class="point-content__subtitle">Quartier Perrache</p>
                            <p class="point-content__text">
                                Les travaux de comblement et d'assainissement des terrains marécageux, s'étalèrent de 1809 à 1814. Il fait aujourd'hui l'objet d'une vaste opération d'urbanisme. Le confluent s'arrêtait autrefois au quartier d'Ainay. Michel-Antoine Perrache lança en 1772 les travaux de construction du quartier. Il fit raser les remparts d'Ainay (de mi-16ème à Louis XIII), puis combler un bras du fleuve et construire un quai et une chaussée. Le quartier fut terminé en 1840. La gare de Perrache est l'une des premières gares françaises. Construite en 1855 par l'architecte Alexis Cendrier, de style classique. Michel-Antoine Perrache (1726 - 1779, Lyon). Sculpteur et ingénieur, membre de l'Académie de Lyon.
                            </p>
                        </div>
                        <div class="point-content text-left">
                            <p class="point-content__subtitle">Quartier Fourvière</p>
                            <p class="point-content__text">
                                Fourvière et Saint-Just font partie du territoire classé au patrimoine Mondial par l’Unesco en 1998.
                                C'est sur la colline de Fourvière qu'ont été mis au jour les vestiges de la ville romaine. Un parc archéologique, s'étend aujourd'hui sur une grande partie du site.
                                A partir du XVIè siècle et surtout pendant le XVIIè siècle, l’installation de congrégations religieuses sur la colline et sur ses pentes ont fait de Fourvière « la colline qui prie ».
                                Le quartier conserve encore aujourd’hui la marque de l’emprise de l’ordre religieux.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <section id="liste-bien">
        <div class="container">
            <div class="row">
                <h2 class="col-sm-7 col-xs-12">Etiam aliquam faucibus velit, a elementum massa donec.</h2>
                <button class="col-xs-12 col-sm-3 col-sm-offset-2 ">Voir plus de biens</button>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{{ asset('css/img/produit/01-min.jpg') }}">
                    <h3>Donec ultricies euismod nibh quis posuere ligula</h3>
                    <p>Aliquam consectetur ligula sit amet rhoncus consequat. Vivamus tincidunt erat ac efficitur faucibus.</p>
                    <a href="#">Découvrir le bien</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{{ asset('css/img/produit/02-min.jpg') }}">
                    <h3>Donec ultricies euismod nibh quis posuere ligula</h3>
                    <p>Aliquam consectetur ligula sit amet rhoncus consequat. Vivamus tincidunt erat ac efficitur faucibus.</p>
                    <a href="#">Découvrir le bien</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{{ asset('css/img/produit/03-min.jpg') }}">
                    <h3>Donec ultricies euismod nibh quis posuere ligula</h3>
                    <p>Aliquam consectetur ligula sit amet rhoncus consequat. Vivamus tincidunt erat ac efficitur faucibus.</p>
                    <a href="#">Découvrir le bien</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{{ asset('css/img/produit/04-min.jpg') }}">
                    <h3>Donec ultricies euismod nibh quis posuere ligula</h3>
                    <p>Aliquam consectetur ligula sit amet rhoncus consequat. Vivamus tincidunt erat ac efficitur faucibus.</p>
                    <a href="#">Découvrir le bien</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}