{% extends 'base.html.twig' %}

{% block title %}Détail Annonce{% endblock %}

{% block header %}<header class="header-description">{% endblock %}

{% block body %}

    <div class="container header">
        <div class="row text-header col-sm-8">
            <div class="note">
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 49.94 49.94" style="enable-background:new 0 0 49.94 49.94;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757  c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701  c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0  l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904  l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z" fill="#c8192b"/>
                    </svg>
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 49.94 49.94" style="enable-background:new 0 0 49.94 49.94;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757  c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701  c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0  l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904  l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z" fill="#c8192b"/>
                    </svg>
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 49.94 49.94" style="enable-background:new 0 0 49.94 49.94;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757  c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701  c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0  l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904  l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z" fill="#c8192b"/>
                    </svg>
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 49.94 49.94" style="enable-background:new 0 0 49.94 49.94;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757  c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701  c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0  l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904  l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z" fill="#293133"/>
                    </svg>
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 49.94 49.94" style="enable-background:new 0 0 49.94 49.94;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757  c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701  c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0  l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904  l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z" fill="#293133"/>
                    </svg>

            </div>
            <h1>{{ detailbien.titre }}</h1>
            <span id="date">{{ detailbien.dateDepot | date('Y-m-d') }}</span><br/>
            <span id="prix">{{ detailbien.prixnuit }}€ / nuit</span>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="left-part col-sm-6">
                <div id="description">
                    <h3>{{ detailbien.titre }}</h3>
                    <p>{{ detailbien.description }}</p>
                </div>
                <div id="commentaire">

                        <h2>{{ detailbien.commentaires | length }} commentaires
                            {% if noteAnnonce > 0 %}
                                {% set moyenneNote = noteAnnonce / detailbien.commentaires | length  %}
                            {% else %}
                                {% set moyenneNote = 0  %}
                            {% endif %}
                            {% for i in 0..5 %}
                                {% if moyenneNote >= i %}
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 49.94 49.94" style="enable-background:new 0 0 49.94 49.94;" xml:space="preserve" width="512px" height="512px">
                                        <path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757  c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701  c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0  l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904  l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z" fill="#c8192b"/>
                                     </svg>
                                {% else %}
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 49.94 49.94" style="enable-background:new 0 0 49.94 49.94;" xml:space="preserve" width="512px" height="512px">
                                        <path d="M48.856,22.73c0.983-0.958,1.33-2.364,0.906-3.671c-0.425-1.307-1.532-2.24-2.892-2.438l-12.092-1.757  c-0.515-0.075-0.96-0.398-1.19-0.865L28.182,3.043c-0.607-1.231-1.839-1.996-3.212-1.996c-1.372,0-2.604,0.765-3.211,1.996  L16.352,14c-0.23,0.467-0.676,0.79-1.191,0.865L3.069,16.622c-1.359,0.197-2.467,1.131-2.892,2.438  c-0.424,1.307-0.077,2.713,0.906,3.671l8.749,8.528c0.373,0.364,0.544,0.888,0.456,1.4L8.224,44.701  c-0.183,1.06,0.095,2.091,0.781,2.904c1.066,1.267,2.927,1.653,4.415,0.871l10.814-5.686c0.452-0.237,1.021-0.235,1.472,0  l10.815,5.686c0.526,0.277,1.087,0.417,1.666,0.417c1.057,0,2.059-0.47,2.748-1.288c0.687-0.813,0.964-1.846,0.781-2.904  l-2.065-12.042c-0.088-0.513,0.083-1.036,0.456-1.4L48.856,22.73z" fill="#293133"/>
                                    </svg>
                                {% endif %}
                            {% endfor %}
                            {{ moyenneNote }}/5</h2>

                    <div class="container col-xs-12">
                        {% for commentaire in detailbien.commentaires %}


                            <div class="commentaire-detail row">
                                <img class="col-xs-3" src="{{ asset('css/img/produit/commentaire/lacazette.jpg') }}">
                                <div class="col-xs-9">
                                    <h3>{{ commentaire.auteur }}, {{ commentaire.datecreation | date('Y-m-d') }}</h3>
                                    <p>
                                        {{ commentaire.textecommentaire }}
                                    </p>
                                </div>
                            </div>

                            {#<div class="commentaire-detail last row">
                                <img class="col-xs-3" src="{{ asset('css/img/produit/commentaire/mathy.jpg') }}">
                                <div class="col-xs-9">
                                    <h3>Mimie Mathy, janvier 2017</h3>
                                    <p>
                                        Quam quidem partem accusationis admiratus sum et moleste tuli potissimum esse Atratino datam. Neque enim decebat neque aetas illa postulabat neque, id quod animadvertere poteratis, pudor patiebatur optimi adulescentis in tali illum oratione versari.
                                    </p>
                                </div>
                            </div>
                            #}
                        {% endfor %}

                    </div>

                    <form action="{{ path('detailbien',{'id' : detailbien.id}) }}" method="POST">
                        <div class="form-group">
                            {{ form_widget(form) }}
                        </div>
                        <input type="submit" value="Ajouter mon commentaire">
                    </form>

                </div>
            </div>
            <div class="right-part col-sm-5 col-sm-offset-1">
                <div class="a-propos">
                    <h2>À propos de ce logement</h2>
                    <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Une surface de {{ detailbien.superficie }}m² loi Carrez</p>
                    <p><i class="fa fa-bed" aria-hidden="true"></i> {{ detailbien.chambre }} Chambres dont {{ detailbien.lit }} lit(s)</p>
                    <p><i class="fa fa-bath" aria-hidden="true"></i> 1 Salle de bain avec WC séparé</p>
                    <p><i class="fa fa-users" aria-hidden="true"></i> {{ detailbien.voyageurmax }} Voyageurs autorisés au maximum</p>
                    <p><i class="fa fa-cutlery" aria-hidden="true"></i> {{ detailbien.cuisine }} Cuisine comprenant tous le confort habituel</p>
                    {% if detailbien.wifi == 1  %}
                    <p><i class="fa fa-wifi" aria-hidden="true"></i> Connexion wi-fi et sécurisée</p>
                    {% endif %}
                </div>

                <div class="reservation">
                    <h2>Date de séjour</h2>
                    <input type="date" placeholder="min" min="0"/>
                    <input type="date" placeholder="max" min="0"/>

                    <p id="nuit">68 x 2 nuits = 136 €</p>
                    <p>Frais de service = 10 €</p>
                    <p id="total">Total = 146 €</p>

                    <button type="submit">Réserver</button>


                </div>
            </div>
        </div>
    </div>

    <section id="liste-bien">
        <div class="container">
            <div class="row">
                <h2 class="col-sm-7 col-xs-12">Etiam aliquam faucibus velit, a elementum massa donec.</h2>
                <button  class="col-xs-12 col-sm-3 col-sm-offset-2" onclick="location.href='listebien'">Voir plus de biens</button>
            </div>
            <div class="row">
                {% for listbien in listbiens|slice(0, 4)  %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <img style="height: 260px; width: 260px;" src="{{ asset(listbien.firstimage) }}">
                        <h3>{{ listbien.titre }}</h3>
                        <p>{{ listbien.description|slice(0, 50) }}</p>
                        <a href="{{ path('detailbien',{'id' : listbien.id}) }}">Découvrir le bien</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="profiler" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12  decouvrir-lyon">
                    <h2 class="col-xs-9">Etiam aliquam faucibus velit, a elementum massa donec.</h2>
                    <p class="col-xs-9">Donec ultricies euismod nibh, quis posuere ligula hendrerit ac. Praesent non lacinia lacus. Cras dapibus turpis et tellus. Donec ultricies euismod nibh, quis posuere ligula hendrerit ac. Praesent non lacinia lacus. Cras dapibus turpis et tellus.</p>
                    <button class="col-xs-3 col-xs-offset-6" type="button">Découvrir Lyon</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}