{% extends 'base.html.twig' %}

{% block title %}Liste Annonce{% endblock %}

{% block header %}<header class="header-bien">{% endblock %}

{% block body %}
    <div class="container header">
        <form action="#page-liste-bien" class="scrollTo">
            <div class="row text-header">
                <div class="banniere col-sm-6 col-xs-12 recherche">
                    <h1>Je souhaite </h1>
                    <select>
                        <option value="appartement">un appartement</option>
                        <option value="maison">une maison</option>
                    </select>
                    <br />
                    <h1> à partir du </h1>
                    <input type="date">
                </div>
                <div class="banniere col-sm-6 col-xs-12 recherche">
                    <h1>pour </h1>
                    <select>
                        <option value="25">25 € max par jour</option>
                        <option value="50">50 € max par jour</option>
                        <option value="75">75 € max par jour</option>
                        <option value="100">100 € max par jour</option>
                        <option value="150">150 € max par jour</option>
                        <option value="200">200 € max par jour</option>
                    </select>
                    <br />
                    <h1>et jusqu'au </h1>
                    <input type="date" >
                </div>
                <div class="col-xs-12">
                    <input type="submit" value="Trouver mon bien">
                </div>
            </div>
        </form>
    </div>
</header>

    <section id="page-liste-bien">
        <div class="container">
            <div class="row">
                <h2 class="col-sm-9 col-xs-12 col-sm-offset-3" id="titre-page-liste-bien">Etiam aliquam faucibus velit, a elementum massa donec.</h2>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12 filter">
                    <form>
                        <h2 class="titre-filtre">Type de logement</h2>
                        <select class="col-xs-12">
                            <option value="tous">Tous les biens</option>
                            <option value="1">Maison</option>
                            <option value="2">Appartement</option>
                        </select>
                        <h2 class="titre-filtre" style="margin-top: 30px;">Date du séjour</h2>
                        <input type="date" placeholder="min" min="0" class="col-xs-6"/>
                        <input type="date" placeholder="max" min="0" class="col-xs-6"/>
                        <h2 class="titre-filtre">Lieu</h2>
                        <select class="col-xs-12">
                            <option value="tous">Tous les arrondissements</option>
                            <option value="1">1er arrondissement</option>
                            <option value="2">2ème arrondissement</option>
                            <option value="3">3ème arrondissement</option>
                            <option value="4">4ème arrondissement</option>
                            <option value="5">5ème arrondissement</option>
                            <option value="6">6ème arrondissement</option>
                            <option value="7">7ème arrondissement</option>
                            <option value="8">8ème arrondissement</option>
                            <option value="9">9ème arrondissement</option>
                        </select>
                        <h2 class="titre-filtre">Prix</h2>
                        <input type="number" placeholder="min" min="0" class="col-xs-6"/>
                        <input type="number" placeholder="max" min="0" class="col-xs-6"/>
                        <h2 class="titre-filtre">Surface</h2>
                        <input type="number" placeholder="min" min="0" class="col-xs-6"/>
                        <input type="number" placeholder="max" min="0" class="col-xs-6"/>
                        <h2 class="titre-filtre">Nombre de pièces</h2>
                        <input type="number" placeholder="min" min="0" class="col-xs-6"/>
                        <input type="number" placeholder="max" min="0" class="col-xs-6"/>
                        <h2 class="titre-filtre">Nombre de chambres</h2>
                        <input type="number" style="margin-bottom: 0;" placeholder="min" min="0" class="col-xs-6"/>
                        <input type="number" style="margin-bottom: 0;" placeholder="max" min="0" class="col-xs-6"/>
                        <div class="col-xs-12">
                            <input type="submit" value="Affiner ma recherche">
                        </div>
                    </form>
                </div>
                <div class="container col-sm-9">
                    <div class="row">


                        {% for listbien in listbiens %}
                        <div class="col-sm-4 col-xs-12 article">
                            <img style="height: 260px; width: 260px;" src="{{ asset(listbien.firstimage) }}">
                            <h3>{{ listbien.titre }}</h3>
                            <p>{{ listbien.predescription }}</p>
                            <a href="{{ path('detailbien',{'id' : listbien.id}) }}">Découvrir le bien</a>
                        </div>
                        {% endfor %}

                        <div class="navigation col-xs-12 text-center">
                            {{ knp_pagination_render(listbiens) }}
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="profiler" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 decouvrir-lyon">
                    <h2 class="col-xs-9">Etiam aliquam faucibus velit, a elementum massa donec.</h2>
                    <p class="col-xs-9">Donec ultricies euismod nibh, quis posuere ligula hendrerit ac. Praesent non lacinia lacus. Cras dapibus turpis et tellus. Donec ultricies euismod nibh, quis posuere ligula hendrerit ac. Praesent non lacinia lacus. Cras dapibus turpis et tellus.</p>
                    <button class="col-xs-3 col-xs-offset-6" type="button">Découvrir Lyon</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}