{% extends 'base.html.twig' %}

{% block title %}Liste Annonce{% endblock %}

{% block header %}<header class="header-bien">{% endblock %}

{% block body %}
    <div class="container header">
        <form action="{{ path('listebien_recherche') }}" class="scrollTo">
            <div class="row text-header">
                <div class="banniere col-sm-6 col-xs-12 recherche">
                    <h1>Je souhaite </h1>
                    <select name="recherche[type]">
                        <option value="" >Tous les biens</option>
                        <option value="1" {%  if search.type == 1 %} selected {% endif %} >un appartement</option>
                        <option value="0" {%  if search.type == 0 %} selected {% endif %}>une maison</option>
                    </select>
                    <br />
                    <h1> à partir du </h1>
                    <input type="date"name="recherche[date_debut]" {%  if search.date_debut == search.date_debut %} selected value="{{ search.date_debut }}"{% endif %}>
                </div>
                <div class="banniere col-sm-6 col-xs-12 recherche">
                    <h1>pour </h1>
                    <select name="recherche[prix]">
                        <option value="">Tous les prix</option>
                        <option value="25" {%  if search.prix is defined and search.prix == 25 %} selected {% endif %}>25 € max par jour</option>
                        <option value="50" {%  if search.prix is defined and search.prix== 50 %} selected {% endif %}>50 € max par jour</option>
                        <option value="75" {%  if search.prix is defined and search.prix == 75 %} selected {% endif %}>75 € max par jour</option>
                        <option value="100" {%  if search.prix is defined and search.prix == 100 %} selected {% endif %}>100 € max par jour</option>
                        <option value="150" {%  if search.prix is defined and search.prix == 150 %} selected {% endif %}>150 € max par jour</option>
                        <option value="200" {%  if search.prix is defined and search.prix == 200 %} selected {% endif %}>200 € max par jour</option>
                    </select>
                    <br />
                    <h1>et jusqu'au </h1>
                    <input type="date" name="recherche[date_fin]" {%  if search.date_fin == search.date_fin %} selected value="{{ search.date_fin }}"{% endif %}>
                </div>
                <div class="col-xs-12">
                    <input type="submit" value="Trouver mon bien"/>
                </div>
            </div>
        </form>
    </div>
</header>

    <section id="page-liste-bien">
        <div class="container">
            <div class="row">
                <h2 class="col-sm-9 col-xs-12 col-sm-offset-3" id="titre-page-liste-bien">Nombre de biens trouvés: {{ listbiens.getTotalItemCount }}</h2>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12 filter">
                    <form action="{{ path('listebien_recherche_avance') }}" class="scrollTo">

                        <h2 class="titre-filtre">Type de logement</h2>
                        <select class="col-xs-12" name="rechercheavance[type]">
                            <option value="">Tous les biens</option>
                            <option value="0" {%  if search.type == 0 %} selected value="0"{% endif %}>Maison</option>
                            <option value="1" {%  if search.type == 1 %} selected value="1"{% endif %}>Appartement</option>
                        </select>
                        <h2 class="titre-filtre" style="margin-top: 30px;">Date du séjour</h2>
                        <input type="date" name="rechercheavance[date_debut]" placeholder="min" min="0" class="col-xs-6" {%  if search.date_debut == search.date_debut %} selected value="{{ search.date_debut }}"{% endif %}/>
                        <input type="date" name="rechercheavance[date_fin]" placeholder="max" min="0" class="col-xs-6" {%  if search.date_fin == search.date_fin %} selected value="{{ search.date_fin }}"{% endif %}/>
                        <h2 class="titre-filtre">Lieu</h2>
                        <select class="col-xs-12" name="rechercheavance[arrondissement]">
                            <option value="">Tous les arrondissements</option>
                            <option value="1" {%  if search.arrondissement == 1 %} selected {% endif %}>1er arrondissement</option>
                            <option value="2" {%  if search.arrondissement == 2 %} selected {% endif %}>2ème arrondissement</option>
                            <option value="3" {%  if search.arrondissement == 3 %} selected {% endif %}>3ème arrondissement</option>
                            <option value="4" {%  if search.arrondissement == 4 %} selected {% endif %}>4ème arrondissement</option>
                            <option value="5" {%  if search.arrondissement == 5 %} selected {% endif %}>5ème arrondissement</option>
                            <option value="6" {%  if search.arrondissement == 6 %} selected {% endif %}>6ème arrondissement</option>
                            <option value="7" {%  if search.arrondissement == 7 %} selected {% endif %}>7ème arrondissement</option>
                            <option value="8" {%  if search.arrondissement == 8 %} selected {% endif %}>8ème arrondissement</option>
                            <option value="9" {%  if search.arrondissement == 9 %} selected {% endif %}>9ème arrondissement</option>
                        </select>
                        <h2 class="titre-filtre">Prix</h2>
                        <input type="number" name="rechercheavance[prix_min]" placeholder="min" min="0" class="col-xs-6" {%  if search.prix_min == search.prix_min %} selected value="{{ search.chambre_max }}"{% endif %}/>
                        <input type="number" name="rechercheavance[prix_max]" placeholder="max" min="0" class="col-xs-6" {%  if search.prix_max == search.prix_max %} selected value="{{ search.chambre_max }}"{% endif %}/>
                        <h2 class="titre-filtre">Surface</h2>
                        <input type="number" name="rechercheavance[surface_min]" placeholder="min" min="0" class="col-xs-6" {%  if search.surface_min == search.surface_min %} selected value="{{ search.surface_min }}"{% endif %}/>
                        <input type="number" name="rechercheavance[surface_max]" placeholder="max" min="0" class="col-xs-6" {%  if search.surface_max == search.surface_max %} selected value="{{ search.surface_max }}"{% endif %}/>
                        <h2 class="titre-filtre">Nombre de pièces</h2>
                        <input type="number" name="rechercheavance[piece_min]" placeholder="min" min="0" class="col-xs-6" {%  if search.piece_min == search.piece_min %} selected value="{{ search.piece_min }}"{% endif %}/>
                        <input type="number" name="rechercheavance[piece_max]" placeholder="max" min="0" class="col-xs-6" {%  if search.piece_max == search.piece_max %} selected value="{{ search.piece_max }}"{% endif %}/>
                        <h2 class="titre-filtre">Nombre de chambres</h2>
                        <input type="number" name="rechercheavance[chambre_min]" style="margin-bottom: 0;" placeholder="min" min="0" class="col-xs-6" {%  if search.chambre_min == search.chambre_min %} selected value="{{ search.chambre_min }}"{% endif %}/>
                        <input type="number" name="rechercheavance[chambre_max]" style="margin-bottom: 0;" placeholder="max" min="0" class="col-xs-6" {%  if search.chambre_max == search.chambre_max %} selected value="{{ search.chambre_max }}"{% endif %}/>
                        <div class="col-xs-12">
                            <input type="submit" value="Affiner ma recherche">
                        </div>

                    </form>
                </div>
                <div class="container col-sm-9">
                    <div class="row">


                        {% for listbien in listbiens %}
                        <div class="col-sm-4 col-xs-12 article">
                            <img style="height: 260px; width: 260px;" src="{{ asset(listbien.firstimage) }}">
                            <h3>{{ listbien.titre }}</h3>
                            <h3>{{ listbien.dateDepot  | date("d-m-Y") }}</h3>
                            <p>{{ listbien.description|slice(0, 50) }}</p>
                            <a href="{{ path('detailbien',{'id' : listbien.id}) }}">Découvrir le bien</a>
                        </div>
                        {% endfor %}

                        <div class="navigation col-xs-12 text-center">
                            {{ knp_pagination_render(listbiens) }}
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="profiler" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 decouvrir-lyon">
                    <h2 class="col-xs-9">Etiam aliquam faucibus velit, a elementum massa donec.</h2>
                    <p class="col-xs-9">Donec ultricies euismod nibh, quis posuere ligula hendrerit ac. Praesent non lacinia lacus. Cras dapibus turpis et tellus. Donec ultricies euismod nibh, quis posuere ligula hendrerit ac. Praesent non lacinia lacus. Cras dapibus turpis et tellus.</p>
                    <button class="col-xs-3 col-xs-offset-6" type="button">Découvrir Lyon</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}